/* Button ----------------------------------------- */

button,
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  font-size: 1.1em;
  font-family: inherit;
  font-weight: inherit;
  padding: 1.1em;
  border: none;
  border-radius: 4px;
  color: white;
  height: 3.2rem;
  max-width: 100%;
}
.btn-primary {
  font-size: 1.2em;
  background: var(--color-invalid);
  margin-inline: auto;
}
.btn-wide {
  font-size: 1.5em;
  height: 4rem;
  background: var(--color-invalid);
  width: 100%;
}
.btn-plan {
  font-size: 1.6em;
  height: 4rem;
  background: var(--color-invalid);
  width: 30rem;
}
.btn-signin {
  height: 2.2rem;
  padding: 0.8em;
  background-color: var(--color-invalid);
  font-size: 1em;
}
.btn-login {
  background: var(--color-invalid);
  margin-top: 3rem;
  width: 100%;
}
.btn-gonow {
  background: var(--color-forgot);
  width: 100%;
}
.btn-change {
  justify-content: space-between;
  background-color: var(--color-line);
  text-align: start;
  height: 4.6rem;
  width: 100%;
}
.btn-logout {
  font-weight: 600;
  color: black;
}
.btn-pay {
  justify-content: space-between;
  border: 2px solid var(--color-flag);
  background-color: transparent;
  height: 4rem;
  width: 100%;
}
.btn-primary:hover,
.btn-signin:hover,
.btn-login:hover,
.btn-wide:hover {
  background-color: var(--color-invalid-hover);
}
.btn-gonow:hover {
  background: var(--color-forgot-hover);
}

/* Logo ------------------------------------------ */

.logo {
  margin-top: 0.4rem;
  width: 8rem;
}
.logo-center {
  width: 10rem;
}

/* Nav ------------------------------------------- */

.nav {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1.4rem 3.2rem;
  z-index: 2;
}
.nav-1 {
  justify-content: space-between;
}
.nav-2 {
  justify-content: center;
}
.nav-3 {
  justify-content: space-between;
  border-bottom: 1px solid var(--color-flag);
}
.nav-4 {
  position: absolute;
  justify-content: space-between;
}
.right {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

/* Input Field & State--------------------------- */

::placeholder {
  color: transparent;
}
::-ms-input-placeholder {
  color: transparent;
}
label {
  color: white;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
}
.input {
  position: relative;
}
.input-field {
  border: none;
  outline: none;
  font-size: 1em;
  border-radius: 4px;
  padding-inline: 1.36em;
  padding-block: 1.8em 1em;
  height: 4rem;
  width: 100%;
}
.input-label {
  display: grid;
  position: absolute;
  top: 1.36rem;
  left: 1.36rem;
  color: gray;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
}
.input-field:focus ~ .label-size,
.input-field:not(:placeholder-shown) ~ .label-size {
  top: 0.6rem;
  left: 1.36rem;
  font-size: 0.9em;
}
.input-field:valid {
  border: 2px solid var(--color-valid);
}
.input-field:not(:placeholder-shown):invalid {
  border-bottom: 3px solid orange;
}
.input-field:not(:placeholder-shown):invalid ~ .text-error {
  display: block;
}

/* Agreement -------------------------------------- */

.agreement {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.6rem;
  font-size: 1rem;
  font-weight: 300;
}
.agree-label {
  color: black;
}
.agree-input {
  cursor: pointer;
  appearance: none;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.agree-input::after {
  content: "\f00c";
  font-family: "Font Awesome 6 Free";
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--color-forgot);
  display: none;
}
.agree-input:checked {
  border: 1px solid var(--color-forgot);
}
.agree-input:checked::after {
  display: block;
}
.agree-alert {
  max-width: 23rem;
  display: none;
  font-size: 0.8rem;
  line-height: 1.3;
  color: var(--color-invalid);
}
.agree-input:invalid {
  border: 1px solid var(--color-invalid);
}
.agree-input:valid ~ .agree-alert {
  display: none;
}
.agree-input:invalid ~ .agree-alert {
  display: block;
}

/* Footer ----------------------------------------- */

.footer {
  padding: 3rem;
}
.footer-container {
  display: grid;
  max-width: 50rem;
  gap: 1.6rem;
  color: gray;
}
.footer-black {
  background-color: black;
}
.footer-transparent {
  background-color: var(--color-footer);
}
.footer-gray {
  background-color: var(--color-footer-bg);
  border-top: 1px solid var(--color-flag);
}
.links {
  display: flex;
  line-height: 1.7;
  justify-content: space-between;
  gap: 2rem;
}

/* Language Option ------------------------------ */

.language {
  position: relative;
}
.language-select {
  appearance: none;
  cursor: pointer;
  height: 2.4rem;
  max-width: 12rem;
  border-radius: 0.2rem;
  padding-inline: 2.4rem;
  outline: none;
  color: gray;
  background-color: transparent;
}
.language-icon {
  position: absolute;
  height: 100%;
  top: 0;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}
.globe {
  position: absolute;
  left: 1rem;
}
.chevron {
  position: absolute;
  left: 10rem;
}

.top {
  height: 2.2rem;
  padding-inline: 0.6rem;
  width: 3.6rem;
  color: white;
  font-weight: 600;
  border: 1.8px solid white;
}
.top-icon {
  color: white;
}
.chevron-top {
  position: absolute;
  left: 2.4rem;
  font-size: 0.6rem;
  font-weight: 600;
}

/* Media Query ----------------------------------- */

/* Nav Media Query */

@media (320px <= width <= 640px) {
  .nav {
    padding-inline: 3rem;
  }
  .logo {
    width: 6rem;
  }
}
@media (320px <= width <= 450px) {
  .nav {
    padding-inline: 2rem;
  }
  .logo-center {
    width: 7rem;
  }
}

/* Footer Media Query */

@media (320px <= width <= 640px) {
  .links {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (320px <= width <= 450px) {
  .footer {
    padding-inline: 2rem;
  }
  .links {
    display: block;
    line-height: 2;
  }
}
